<html ng-app="xniApp">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="XNICtrl">
    <h1>XNI Reconstruction</h1>

    <h2>Choose dataset</h2>

    <p>Select Image Files (at server)</p>
    <input type="text" ng-model="imfiles" ng-change="imfiles_change()" />
    <p>{{ imfiles_status }}</p>

    <p>Select Destination Directory (at server)</p>
    <input type="text" ng-model="destdir" ng-change="destdir_change()" />
    <p>{{ destdir_status }}</p>


    <h2>Position based image shift</h2>

    <p>Theta, Image Center X, Image Center Y</p>

    <textarea ng-model="posdata"></textarea>

    <p></p><button ng-click='shift()'>Shift</button></p>

    <p>{{ response }}</p>
</body>
</html>
