<div class="page-header">
    <h1>Alignment</h1>
</div>

<div class="form-group">
    <label for="SelectDataset">Select Dataset</label>
    <select id="SelectDataset" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
</div>

<div class="form-group">
    <label>Calculate Cross-correlation</label>
    <span class="help-block">Blah Blah</span>
    <button type="button" class="btn btn-default" ng-click="correlation()">Start</button>
</div>

<div class="form-group">
    <label for="inputPositionData">Input Position Data</label>
    <span class="help-block">Theta, Image Center X, Image Center Y (CSV Format)</span>
    <textarea id="inputPositionData" class="form-control" rows="7" ng-model="posdata"></textarea>
</div>

<button type="button" class="btn btn-default" ng-click='shift()'>Start</button>

<div class="alert" role="alert">{{ response }}</div>
